.header{
    width: 100%;
    position: relative;
    height: 60px;
    display: flex;
    background: black;
    justify-content: space-between;
    box-sizing: border-box;

}
.navbar{
    display:flex ;
}
.logo{
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    margin: 18px;
    text-shadow: 0 0;
}



.right{
    display: flex; 
    color: #fff; 
    margin: 20px;
}

.right> li{
    margin: 0 10px;
}

.right> li > a{
    color: #fff;
}

.right > li > a.active{
    font-weight: bold;
}
.username{
    margin: 20px 0px;
    color: #fff;
    font-weight: bold;
}