.header{
    width: 100%;
    position: relative;
    height: 80px;
    display: flex;
    background: black;
    justify-content: space-between;
    box-sizing: border-box;

}
.navbar{
    display:flex ;
}
.logo{
    font-size: 40px;
    color:#0084ff;
    text-transform: capitalize;
    font-weight: bold;
    margin: 18px;
    text-shadow: 0 0;
}



.right{
    display: flex; 
    color: #fff; 
    margin: 20px;
    font-size: 24px;
}

.right> li{
    margin: 0 10px;
}

.right> li > a,btn{
    color: #fff;
}

.right > li > a.active , btn:active{
    font-weight: bold;
}
.username{
    margin: 20px 0px;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
}