*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Patua-One";
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
}
:root {
  --color-1: #242526;
  --color-2: white;
  --color-3: #0084ff;
  --color-4: grey;
  --color-5: #eb4034;
  --color-6: #333;
}

